/* PADRÃO PARA TODOS */
*{
    padding: 0px;
    margin: 0px;
    font: normal 12pt Arial;
}

/* MAIN */

div#main {
    background-color: #dedede;   
    width: 300px;
    display: block;
    margin: auto;
    padding: 20px;
}

div#main input {
    margin-bottom: 10px;
    width: 290px;
}

div#main button.criar{
    background-color: rgb(75, 143, 6);
    padding: 8px;
    border:  rgb(75, 143, 6);
    margin-left: 10px;
    color: #fff;
}

div#main button.criar:hover{
    background-color: rgb(109, 211, 8);
    color: #000;
}

div#main button.limpar {
    background-color: #008;
    color: #fff;
    padding: 8px;
    border: #008;
    margin-left: 10px;
}

/*BOTAO*/
div#main button.enviar{
    background-color: #f00;
    padding: 8px;
    margin-left: 10px;
    color: #fff;
    border: #f00;
    display: none;
}

div#main button.enviar:hover{
    background-color: rgb(240, 148, 148);
    color: #000f;
}


input.text {
    display: block;
    height: 25px;
    border-radius: 6px;
}

label {
    display: block;
}

div#criaCampos {
    padding: 10px;
}

select {
    display: block;
    margin-bottom: 20px; 
}

tr {
    height: 40px;
}

td {
    width: 200px;
}

