* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/*#################*/
/*### TEMPLATE ####*/
/*#################*/

.container {
    display: grid;
    grid-template-columns: 0.1fr 0.9fr 2fr;
    grid-template-rows: 4vh 94vh 2vh;
    grid-template-areas: "h h h" "s a m" "f f f";
}

header {
    background-color: #191a21;
    grid-area: h;
}

section {
    background-color: #2c2f3b;
    border-right: 1px solid #191a21;
    grid-area: s;
}

aside{
    background-color: #21222c;
    border-right: 1px solid #191a21;
    grid-area: a;
}

main {
    background-color: #282a36;
    grid-area: m;
}


footer{
    background-color: #191a21;
    grid-area: f;
}


/*#################*/
/*##### MENUS #####*/
/*#################*/

a {
    text-decoration: none;
    color: #f1f3f4;
}

nav {
    width: 100vw;
    background-color: #1e1e1e;
}

nav#menu ul {
    background-color: #1e1e1e;
    display: block;
}

nav#menu ul li{
    float: left;
    padding: 10px;
    color: #f1f3f4;
    list-style-type: none;
    background-color: #1e1e1e;    
}

li:hover a{
    color: #653297;
}

/*#################*/
/*##### ASIDE #####*/
/*#################*/

aside#mysql {
    color: #fff;
}


/* CONEXAO */

button.status {
    margin-left: 20%;
    border-radius: 4px;
    padding: 4px; 
    margin-top: 16px;
}

button.config {
    margin-top: 16px;
    border-radius: 4px;  
    padding: 4px; 
    margin-left: 10%;
}

/*#################*/
/*#### SECTION ####*/
/*#################*/

section img  {
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
}


/* BUSCA BANCO */

fieldset {
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
}

legend {
    margin-left: 10%;
    padding-left: 10px;
    padding-right: 10px;
}

aside#mysql input.text {
    border-radius: 10px;
    height: 20px;
    padding: 4px;
    border: none;
    margin-left: 16px;
    margin-right: 16px;
    width: 60%;
}

aside button.buscar {
    padding: 6px;
    border-radius: 4px;
    border: none;
    color: #000;
    background-color: yellowgreen;
}





